# /stacks/staging/.env.example  

# Configuración de Staging
APP_PORT=78 # Define el puerto que voy a usar para ver la aplicacion desde afuera 
NODE_ENV=staging # Etiqueta informativa para determinar que esta aplicacion es de prueba 

