# /stacks/production/.env.example  

# Configuración General
TZ=America/Montevideo # Zona horaria
PUID=1000 # Identificador de usuario
PGID=1000 # Identificador de grupo

# DuckDNS
DUCKDNS_TOKEN=PONER_AQUI_TU_TOKEN # Token de DuckDNS
DUCKDNS_SUBDOMAINS=tu_subdominio # Nombre del subdominio

# Wireguard
WG_SERVERURL=${DUCKDNS_SUBDOMAINS}.duckdns.org # Nombre del dominio al que apunta en caso de no tener ip publica
WG_PEERS=lista_de_peers # Por cada nombre separado por coma. Wireguard genera un los archivos de configuracion de los clientes 
WG_SERVERPORT=tu_puerto # Puerto del servicio este es el que tenes que abrir en el router
WG_PASSWORD=una-clave-muy-segura-para-el-panel-vpn # <!> Supongo que la clave para el portal administrativo 
WG_HOST=northcodeuy.duckdns.org # <!DMI> Dominio donde apunta la vpn tambien se puede colocar un ip fica 
WG_DEFAULT_DNS= #<!> Ni idea que colocar investigar
